@import '../../variables.scss';

.cover {
  max-width: 2000px;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(-80deg, transparent 50%, #F5ECE7 50%);

  & > .container {
    position: relative;

    .social-icons {
      position: absolute;
      bottom: 32px;
      right: 0;
      display: flex;
      flex-direction: column;

      & > .icon {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        color: white;
        background-color: #999999;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &:hover {
          color: white;
          background-color: $primary;
        }
      }
    }
  }
}
