
.contact {
  .call-back {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .call-back-form {
      max-width: 350px;
      width: 100%;
      padding: 32px;
      background-color: #555;

      *:not(input) {
        color: white;
      }
    }
  }
}

@media(max-width: 767px) {
  .contact {
    .call-back {
      .call-back-form {
        padding: 24px;
        max-width: 100%;
      }
    }
  }
}
