
.navbar {
  .navbar-start {
    flex-grow: 1;
    justify-content: center;
  }

  .navbar-end {
    font-size: 10pt;
  }

  .navbar-item {
    border-radius: 0 !important;
    border-bottom: 2px solid transparent;
    
    &.is-active {
      border-bottom: 2px solid black;
    }
  }

}
