
.illustration {
  min-width: calc(320px - 16px * 2);
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;

  & > .base {
    width: 100%;
    height: 100%;
    background-image: url(./base.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .ellipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
    background-image: url(./ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
