@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import './assets/fonts/google-sans/style.scss';
@import './variables.scss';

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';

@import '../node_modules/swiper/swiper.scss';

.container {
  max-width: 960px !important;
}

.app-section {
  margin-top: 128px;

  .app-section-spacer {
    height: 64px;
  }
}

.left-spaced {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &::before {
    content: '';
    display: block;
    min-width: 70px;
    margin-right: 32px;
    border-bottom: 2px solid transparent;
  }
  
  &.with-line {
    &::before {
      border-color: black;
    }
  }

  & > .child {
    flex: 1;
  }
}

@media(max-width: 767px) {
  .navbar {
    padding: 16px;
  }

  .reverse-on-mobile {
    flex-direction: column-reverse;
    display: flex;
  }

  .app-section {
    margin-top: 32px;

    .app-section-spacer {
      height: 0;
    }
  }

  .left-spaced {
    flex-direction: column-reverse;
    align-items: center;

    &::before {
      margin-top: 8px;
      margin-right: 0;
    }
  }
}

@media(max-width: 960px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .navbar > .container {
    margin: 0;
  }
}

