@charset "utf-8";

@import './assets/fonts/google-sans/style.scss';
@import './variables.scss';

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';

.container {
  max-width: 1000px !important;
  padding-left: 16px;
  padding-right: 16px;
}

@media(max-width: 767px) {
  .reverse-on-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

.left-spaced {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &::before {
    content: '';
    display: block;
    min-width: 128px;
    height: 2px;
    margin-right: 32px;
  }
  
  &.with-line {
    &::before {
      background-color: black;
    }
  }

  & > .child {
    flex: 1;
  }
}
